<!-- ---
///This is just for reference now - to set up for the ecosystems page
---

<section
  class="px-6 lg:px-20 xl:px-32 py-6 md:py-12 lg:py-20 mx-auto max-w-6xl lg:max-w-none 2xl:w-11/12 md:grid grid-cols-3 3xl:grid-cols-4 4xl:grid-cols-5 gap-4"
>
  <div class="col-start-1 col-span-1"><slot name="filterMenu" /></div>

  <div class="col-start-2 col-span-2 3xl:col-span-3 4xl:col-span-4">
    {projectTypeBtns}
    <div
      class={`md:hidden ${
        contentType === "ecosystems" ? "hidden" : "flex"
      } flex-col gap-6 items-end min-w-full`}
    >
      <div class="flex gap-2 w-full">
        <h3 class="font-bold">Filter by OSSI funding status</h3>
        {resetProjectTypeBtn}
        {projectTypeDropdown}
      </div>
      {toggleFilterMenuBtn}
    </div>

    {projectCount}

    <div
      class="lg:grid grid-cols-2 3xl:grid-cols-3 4xl:grid-cols-4 auto-rows-max gap-4"
    >
      <slot name="contentCards" />
      {
        /* {allContent.map((content) => {
            
            // console.log("tagsObj", tagsObj);
            return (
              <ContentCard
                key={content.slug}
                baseUrl={baseUrl}
                url={`${baseUrl}/${contentType}/${content.slug}/`}
                title={content.data.title}
                authors={content.data["author names"]}
                tagline={content.data.tagline}
                imageSrc={content.data["image file"]}
                imageAlt={content.data["image alt text"]}
                tagsObj={tagsObj}
                projectType={
                  contentType === "projects"
                    ? content.data["project type"][0]
                    : null
                }
              />
            );
          })} */
      }
    </div>
  </div>
</section> -->
