---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import CallToAction from "../components/CallToAction.astro";
import ContentGridDisplay from "../components/ContentGridDisplay.astro";
import ContributorList from "../components/ContributorList.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout>
  <Hero
    client:load
    baseUrl={baseUrl}
    title="Janelia Software"
    subtitle="Making scientific software user-friendly and developer-friendly"
    heightClasses="h-screen max-h-screen"
  >
    <Wrapper containerClass="max-w-5xl">
      <div class="max-w-3xl rounded-md">
        <CallToAction
          actions={[
            {
              variant: "primary",
              text: "Janelia Software Projects",
              href: `${baseUrl}/projects`,
            },
            {
              text: "Software Ecosystems",
              href: `${baseUrl}/ecosystems`,
            },
          ]}
        >
          <Fragment slot="content">
            This website aims to catalogue software projects developed at
            Janelia. You can explore our software in two ways - through
            individual projects or via project ecosystems.
          </Fragment>
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
          </Fragment>
        </CallToAction>
      </div>
    </Wrapper>
  </Hero>

  <Wrapper containerClass="pt-16 pb-8 md:py-16">
    <CallToAction
      actions={[
        {
          variant: "primary",
          text: "Learn more about OSSI",
          href: `${baseUrl}/ossi`,
          target: "_blank",
        },
      ]}
    >
      <Fragment slot="title"
        >Janelia Open Science Software Intiative (OSSI)</Fragment
      >
      <Fragment slot="content">
        An important source of support for scientific software development and
        maintenance at Janelia is the Open Source Science Software Initative
        (OSSI).
      </Fragment>
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
      </Fragment>
    </CallToAction>
  </Wrapper>

  <Wrapper containerClass="py-8 md:py-16">
    <ContentGridDisplay
      title="Janelia Software Blog"
      information="The latest updates on Janelia software projects."
      content="blog"
      linkText="View all posts"
      linkUrl={`${baseUrl}/blog`}
    />

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </Wrapper>

  <Wrapper containerClass="py-8 md:py-16">
    <CallToAction
      actions={[
        {
          variant: "primary",
          text: "View the GitHub repository",
          href: "https://github.com/JaneliaSciComp/ossi-website",
          target: "_blank",
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
      </Fragment>
      <Fragment slot="title"
        >Janelians: add your software to this website!</Fragment
      >
      <Fragment slot="content">
        Statement about the goals of the Open Source Science Initiative as
        related to ability to contribute to this site. Statement about the goals
        of OSSI as related to ability to contribute to this site.
        <br /><br />
        We welcome contributions, including project information and blog posts, from
        current and former Janelians. Read the documentation on the site's GitHub
        repository to get started.
      </Fragment>
    </CallToAction>
  </Wrapper>

  <Wrapper containerClass="py-8 md:py-16">
    <ContributorList
      title="Recent website contributors"
      callToAction={{
        text: "See all contributors »",
        href: "https://github.com/JaneliaSciComp/ossi-website",
        target: "_blank",
      }}
    />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </Wrapper>
</BaseLayout>
