---
import { siteConfig } from "../siteConfig";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import CallToAction from "../components/CallToAction.astro";
import ContentGridDisplay from "../components/ContentGridDisplay.astro";
import ContributorList from "../components/ContributorList.astro";
import Wrapper from "../components/Wrapper.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout>
  <Hero
    client:load
    baseUrl={baseUrl}
    title={siteConfig.name}
    subtitle="Making scientific software user-friendly and developer-friendly"
    heightClasses="h-screen max-h-screen"
  >
    <Wrapper containerClass="max-w-5xl">
      <div class="max-w-3xl rounded-md">
        <CallToAction
          btnContainerClasses="max-w-none sm:max-w-none"
          actions={[
            {
              variant: "primary",
              text: `Explore software projects`,
              href: `${baseUrl}/projects`,
            },
            {
              variant: "",
              text: "Learn more about the OSSI",
              href: `${baseUrl}/ossi`,
            },
          ]}
        >
          <Fragment slot="content">
            This website aims to catalogue software projects developed through the <b>Janelia Open Science Software Initiative</b> (OSSI), 
            as well as other software developed by teams at Janelia Research Campus. 
          </Fragment>
        </CallToAction>
      </div>
    </Wrapper>
  </Hero>

  <!-- <Wrapper containerClass="pt-16 pb-8 md:py-16">
    <CallToAction
      actions={[
        {
          variant: "primary",
          text: "Learn more about OSSI",
          href: `${baseUrl}/ossi`,
          target: "_blank",
        },
      ]}
    >
      <Fragment slot="title">
        Janelia Open Science Software Initiative (OSSI)
      </Fragment>
      <Fragment slot="content">
        An important source of support for scientific software development and
        maintenance at Janelia is the Open Science Software Initiative
        (OSSI).
      </Fragment>
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
      </Fragment>
    </CallToAction>
  </Wrapper> -->

  <Wrapper containerClass="py-8 md:py-16">
    <ContentGridDisplay
      title=`${siteConfig.shortName} Software Blog`
      information=`The latest updates on ${siteConfig.shortName} software projects`
      content="blog"
      linkText="View all posts"
      linkUrl={`${baseUrl}/blog`}
    />

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </Wrapper>

  <Wrapper containerClass="py-8 md:py-16">
    <CallToAction
      actions={[
        {
          variant: "primary",
          text: "View the GitHub repository",
          href: "https://github.com/JaneliaSciComp/ossi-website",
          target: "_blank",
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
      </Fragment>
      <Fragment slot="title"
        >Janelians: add your software to this website!</Fragment
      >
      <Fragment slot="content">
        We welcome contributions from current and former Janelians. You can add a page about your 
        software project or write a blog post. 
        Any software developed at Janelia (OSSI-funded or not) may be added to this website. 
        Read the documentation on the site's GitHub repository to get started.
      </Fragment>
    </CallToAction>
  </Wrapper>

  <Wrapper containerClass="py-8 md:py-16">
    <ContributorList
      title="Recent website contributors"
      callToAction={{
        text: "See all contributors »",
        href: "https://github.com/JaneliaSciComp/ossi-website/graphs/contributors",
        target: "_blank",
      }}
    />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </Wrapper>
</BaseLayout>
