---
import TextBlock from "@components/TextBlock.astro";
import Button from "@components/Button.astro";

const {
  btnContainerClasses,
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline = await Astro.slots.render("tagline"),
  actions = await Astro.slots.render("actions"),
  content = await Astro.slots.render("content"),
  btn = await Astro.slots.render("btn"),
} = Astro.props;
---

<div class="flex flex-col">
  <TextBlock
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    content={content}
  />
  {
    actions ? (
      <div class={`grid grid-cols-2 gap-4 w-full ${btnContainerClasses}`}>
        {Array.isArray(actions) ? (
          actions.map((action) => (
            <Button
              {...(action || {})}
              class="btn w-full sm:mb-0 text-sm sm:text-base md:text-lg"
            />
          ))
        ) : (
          <Fragment set:html={actions} />
        )}
      </div>
    ) : null
  }
  {btn ? <slot name="btn" set:html={btn} /> : null}
</div>
