---
import TextBlock from "./TextBlock.astro";
import Button from "./Button.astro";

const {
  btnContainerClasses,
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline = await Astro.slots.render("tagline"),
  actions = await Astro.slots.render("actions"),
  content = await Astro.slots.render("content"),
  bg = await Astro.slots.render("bg"),
} = Astro.props;
// console.log(actions)
---

<div class="flex flex-col">
  <TextBlock
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    content={content}
  />
  {
    actions && (
      <div
        class={`flex flex-nowrap flex-row justify-center gap-4 max-w-xs sm:max-w-md ${btnContainerClasses}`}
      >
        {Array.isArray(actions) ? (
          actions.map((action) => (
            <div class="flex w-full">
              <Button
                {...(action || {})}
                class="btn w-full sm:mb-0 md:text-lg"
              />
            </div>
          ))
        ) : (
          <Fragment set:html={actions} />
        )}
      </div>
    )
  }
</div>
