---
import Image from "astro/components/Image.astro";
const { item, content } = Astro.props;
---

<article class="mb-8 pb-8 border-b dark:border-slate-700">
  {
    item.data["image file"] ? (
      <div class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6">
        <a href={`/${content}/${item.slug}`}>
          {/* Currently, images are embedded in the blog frontmatter, so Astro loads them as an Astro image obj */}
          {typeof item.data["image file"] === "object" ? (
            <Image
              src={item.data["image file"]}
              class="w-full md:h-full object-cover rounded shadow-lg bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              width={400}
              sizes="(max-width: 900px) 400px, 900px"
              alt={item.data["image caption"]}
              aspectRatio="16:9"
              layout="cover"
              loading="lazy"
              decoding="async"
            />
          ) : (
            // Images in the projects are stored in the public directory
            <img
              src={`/project-images/${item.data["image file"]}`}
              alt={item.data["image caption"]}
              class="w-full md:h-full object-cover rounded shadow-lg bg-gray-400 dark:bg-slate-700"
              loading="lazy"
            />
          )}
        </a>
      </div>
    ) : (
      <></>
    )
  }

  <h3 class="mb-2 text-xl font-bold leading-tight sm:text-2xl font-heading">
    <a
      href={`/${content}/${item.slug}`}
      class="hover:text-primary transition ease-in duration-200"
    >
      {item.data.title}
    </a>
  </h3>
  <p class="text-muted dark:text-slate-400 text-lg">{item.data.tagline}</p>
</article>
