---
import { headerData } from "../data/navigation";
import ToggleTheme from "../components/ToggleTheme.astro";
import ToggleTheme from "../components/ToggleTheme.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<header
  class="scroll fixed top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out"
  data-sticky-header="true"
  id="header"
>
  <div class="absolute inset-0 bg-white dark:bg-dark"></div>

  <div class="relative text-default p-3 md:px-6 w-full flex justify-between">
    <a class="flex items-center" href={baseUrl}>
      <span
        class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
      >
        🔬 Janelia Software
      </span>
    </a>

    <div class="flex">
      <div class="flex items-center md:hidden order-2">
        <button
          class="flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group"
          aria-label="Toggle Menu"
          data-aw-toggle-menu
        >
          <span class="sr-only">Toggle Menu</span>
          <slot>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:rotate-45 group-[.expanded]:translate-y-2.5"
            ></span>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:opacity-0"
            ></span>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:-rotate-45 group-[.expanded]:-translate-y-2.5"
            ></span>
          </slot>
        </button>
      </div>

      <nav
        class="items-center w-full hidden md:flex text-default overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto"
        aria-label="Main navigation"
      >
        <ul
          class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium"
        >
          {
            headerData.links.map(({ text, href, links }) => (
              <li class={links?.length ? "dropdown" : ""}>
                {links?.length ? (
                  <>
                    <button class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
                      <a href={href}>{text}</a>
                    </button>
                    <ul class="dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl">
                      {links.map(({ text: text2, href: href2 }) => (
                        <li>
                          <a
                            class:list={[
                              "first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap",
                            ]}
                            href={href2}
                          >
                            {text2}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </>
                ) : (
                  <a
                    class:list={[
                      "hover:text-link dark:hover:text-white px-4 py-3 flex items-centers",
                    ]}
                    href={href}
                  >
                    {text}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
      <div
        id="toggle-theme"
        class="self-center flex items-center w-auto static justify-end"
      >
        <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 inline-block" />
      </div>
    </div>
  </div>
</header>
