---
import { Icon } from 'astro-icon/components';

const { post } = Astro.props;
console.log(post.image)
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${post.image ? 'md:grid-cols-2' : ''}`}>
  {
    post.data.image && (
      <a class="relative block group" href={post.slug}>
        <div class="w-full">
            <img src={post.data.image.url} class="rounded shadow-lg bg-gray-400 dark:bg-slate-700 object-cover object-center"/>
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.data.publishDate)} class="inline-block">{post.data.publishDate}</time>
        </span>
      </div>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">

            <a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={post.slug}>
              {post.data.title}
            </a>
          
      </h2>
    </header>

    {post.data.excerpt && <p class="flex-grow text-muted dark:text-slate-400 text-lg">{post.data.excerpt}</p>}

  </div>
</article>
