---
import BlogImage from "./BlogImage.astro";

const { post } = Astro.props;
---

<article
  class={`max-w-md mx-auto md:max-w-none flex flex-col md:grid gap-6 md:gap-8 ${post.data["image file"] ? "md:grid-cols-2" : ""} dark:bg-slate-900`}
>
  <BlogImage
    imgFile={post.data["image file"]}
    id={post.id}
    caption={post.data["image caption"]}
  />
  <div class="p-4">
    <header>
      <!-- <div class="mb-1">
        <span class="text-sm">
          <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.data.publishDate)} class="inline-block">{post.data.publishDate}</time>
        </span>
      </div> -->
      <h2
        class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300"
      >
        <a
          class="hover:text-primary dark:hover:text-primary transition ease-in duration-200"
          href={`/blog/${post.id}`}
        >
          {post.data.title}
        </a>
      </h2>
    </header>

    {
      post.data.tagline ? (
        <p class="flex-grow text-muted dark:text-slate-400 text-lg">
          {post.data.tagline}
        </p>
      ) : null
    }
  </div>
</article>
