---
import { Icon } from 'astro-icon/components';
import Wrapper from './Wrapper.astro';
import TextBlock from './TextBlock.astro';
import Button from './Button.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  callToAction = await Astro.slots.render('callToAction'),
  items,
  bg = await Astro.slots.render('bg'),
} = Astro.props
---

<Wrapper containerClass='max-w-5xl mx-auto' bg={bg}>
  <div class='flex flex-col gap-8 md:gap-12 md:flex-row'>
    <div class='w-full lg:w-1/2 gap-8 md:gap-12'>
      <TextBlock
        title={title}
        subtitle={subtitle}
        tagline={tagline}
      />

      <div class="w-full md:text-left rtl:md:text-right">
        {
          typeof callToAction === 'string' ? (
            <Fragment set:html={callToAction} />
          ) : (
            callToAction &&
            callToAction.text &&
            callToAction.href && (
              <Button variant="link" {...callToAction} class="mb-12 w-auto"/>
            )
          )
        }
      </div>
    </div>
    <div class="w-full lg:w-1/2 px-0">
      <ul class="space-y-10">
        {
          items && items.length
            ? items.map(({ title: title2, description, icon }, index) => (
                <li class="flex md:-mx-4">
                  <div class="pr-4 sm:pl-4 rtl:pr-0 rtl:pl-4 rtl:sm:pl-0 rtl:sm:pr-4">
                    <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-blue-100 text-primary">
                      {icon ? <Icon name="tabler:brand-github"/> : index + 1}
                      
                    </span>
                  </div>
                  <div class="pl-4 rtl:pl-0 rtl:pr-4">
                    <h3 class="mb-4 text-xl font-semibold font-heading" set:html={title2} />
                    <p class="text-muted dark:text-gray-400" set:html={description} />
                  </div>
                </li>
              ))
            : ''
        }
      </ul>
    </div>
  </div>
</Wrapper>