---
// import { toggleOptions } from "../scripts/filterMenu";
// import { handleOptionClick } from "../scripts/filterMenu";

const {uniqueTags} = Astro.props
---

<div class="filter-menu flex">
    {Object.keys(uniqueTags).map(key => (
      <div class="mr-4">
        <h3 
            class='cursor-pointer'
            id={`tag-category-${key}`}
        >
            {key}
        </h3>
        <ul class="hidden">
          {uniqueTags[key].map(individualTag => (
            <li 
                class='cursor-pointer'
                id={`tag-${individualTag}`}
            >
                {individualTag}
            </li>
          ))}
        </ul>
      </div>
    ))}
  </div>


  <!-- onclick={toggleOptions(key)}  -->
  <!-- onclick={handleOptionClick(projectCards, individualTag)}  -->